:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --footer-color: #a5a2a1;
  --heading-color: #232121;
  --bg-color: #fff;
  --bg-light: rgba(130, 115, 252, .05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color-light: #eee;
  --font-normal: 'Quicksand', sans-serif;
  --font-special: 'Pacifico', cursive; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-weight: 400;
  color: var(--font-color);
  line-height: 1.2;
  font-family: var(--font-normal); }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.btn {
  padding: 1.2rem 4.5rem;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 700;
  transition: all .3s ease-in;
  border-radius: var(--border-radius);
  display: inline-block; }
  .btn--white {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff; }
    .btn--white:hover {
      background-color: #fff;
      color: var(--primary-color); }
  .btn--orange {
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid var(--primary-color); }
    .btn--orange:hover {
      opacity: 0.8; }

.mb-10 {
  margin-bottom: 1.0rem !important; }

.mb-16 {
  margin-bottom: 1.6rem !important; }

.mb-24 {
  margin-bottom: 2.4rem !important; }

.mb-48 {
  margin-bottom: 4.8rem !important; }

.text-white {
  color: #fff !important; }

.text-center {
  text-align: center !important; }

.heading--1 {
  font-size: 5.4rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  font-family: var(--font-normal); }

.heading--3 {
  font-size: 3.8rem;
  line-height: 1.3;
  font-weight: 600;
  color: var(--heading-color); }

.heading--4 {
  font-size: 2rem;
  font-weight: 4rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: var(--font-special); }

.paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--font-color);
  font-family: var(--font-normal); }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem; }

.grid {
  display: grid; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.header {
  height: 75vh;
  background-image: linear-gradient(to right, var(--primary-color), rgba(5, 3, 0, 0.2)), url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  background-size: cover; }
  @media (max-width: 62.5em) {
    .header {
      background-position: center; } }
  @media (max-width: 37.5em) {
    .header {
      height: 60vh; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.hero {
  margin-top: 10rem; }
  @media (max-width: 75em) {
    .hero {
      padding: 0 4.8rem; } }
  @media (max-width: 62.5em) {
    .hero {
      grid-template-columns: 1fr; } }

.about {
  padding: 9.6rem 0; }
  .about__container {
    grid-template-columns: 4fr 6fr; }
    @media (max-width: 75em) {
      .about__container {
        padding: 4.8rem; } }
    @media (max-width: 62.5em) {
      .about__container {
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
        padding: 4.8rem; } }

.book {
  align-items: stretch; }
  @media (max-width: 62.5em) {
    .book {
      grid-template-columns: 1fr; } }

.new {
  padding: 9.6rem 0;
  background-color: var(--bg-grey); }

.cates {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.meals {
  padding: 9.6rem 0; }
  .meals__container {
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.cta {
  padding: 12rem 0 15rem 0;
  background-image: url("../img/banner3.jpg");
  background-color: rgba(16, 15, 19, 0.66);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color; }

.stats {
  background-color: transparent;
  position: relative;
  top: -8rem; }
  @media (max-width: 62.5em) {
    .stats {
      top: 3.2rem;
      margin-bottom: 9.6rem; } }
  .stats__container {
    column-gap: 3rem;
    row-gap: 3rem; }
    @media (max-width: 50em) {
      .stats__container {
        grid-template-columns: 1fr 1fr; } }

.video {
  padding-top: 2rem;
  padding-bottom: 9rem; }
  .video__container {
    min-height: 500px;
    margin: 0 auto;
    background-image: url("../img/banner4.jpg");
    background-color: rgba(16, 15, 19, 0.66);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius); }
    @media (max-width: 75em) {
      .video__container {
        max-width: 80%; } }
    @media (max-width: 50em) {
      .video__container {
        max-width: 70%; } }

.posts {
  padding: 9.6rem 0;
  background-color: var(--bg-grey); }
  .posts__container {
    column-gap: 3rem;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr)); }

.testi {
  padding: 9.6rem 0; }

.footer {
  background-color: var(--footer-bg); }
  .footer__body {
    padding: 7.2rem 0;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    column-gap: 6rem;
    row-gap: 6rem; }
    @media (max-width: 62.5em) {
      .footer__body {
        grid-template-columns: 1fr 1fr;
        padding: 7.2rem 3.2rem; } }
  .footer__copy {
    padding: 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05); }

.nav__logo {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  display: inline-block; }

.nav__list {
  display: flex;
  color: #fff;
  gap: 2.4rem;
  align-items: center; }

.nav__search {
  position: relative; }
  @media (max-width: 37.5em) {
    .nav__search {
      display: none; } }

.nav__search-input {
  height: 4.5rem;
  width: 25rem;
  border-radius: var(--border-radius);
  padding: 1rem 5rem 1rem 2rem;
  font-size: 1.6rem;
  color: var(--font-color);
  font-weight: 400;
  border: 1px solid #fff;
  outline: none;
  font-family: inherit; }

.nav__search-icon {
  font-size: 1.6rem;
  position: absolute;
  color: var(--font-color);
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
  cursor: pointer; }

.nav__theme {
  font-size: 2.8rem;
  cursor: pointer; }

.nav__bar {
  font-size: 2.8rem;
  cursor: pointer; }

.navbar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: rgba(6, 3, 0, 0.7);
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .navbar__close-box {
    font-size: 3.2rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 4.8rem;
    right: 4.8rem;
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius); }
  .navbar__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
  .navbar__link {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
    color: #fff; }

.navbar.active {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  z-index: 9999; }

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.hero__text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff; }

.book__img-box {
  min-height: 60rem;
  background-image: url("../img/banner2.jpg");
  background-color: rgba(16, 15, 19, 0.66);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color; }
  @media (max-width: 62.5em) {
    .book__img-box {
      min-height: 40rem; } }

.book__desc {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6.4rem 7.2rem; }

.bests {
  margin-top: 4.6rem;
  column-gap: 3rem; }

.best__icon-box {
  color: var(--primary-color);
  font-size: 2.4rem;
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  transition: all .3s ease-in-out; }

.best:hover .best__icon-box {
  color: var(--secondary-color); }

.best__heading {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 1.6rem; }

.cates {
  grid-gap: 3rem; }

.cate {
  position: relative; }
  .cate__img {
    max-width: 100%;
    border-radius: var(--border-radius);
    display: block;
    opacity: 1;
    transition: all .3s; }
  .cate:hover .cate__img {
    opacity: 0.8; }
  .cate__desc {
    position: absolute;
    bottom: 3rem;
    left: 4.8rem;
    z-index: 2; }
  .cate__title {
    font-size: 2.2rem;
    line-height: 1.4;
    color: #fff;
    font-weight: 700; }
  .cate__price {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondary-color); }
  .cate::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    z-index: 1; }

.meal {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-light);
  padding: 4rem;
  grid-template-columns: min-content 1fr;
  column-gap: 3rem;
  row-gap: 1.6rem; }
  .meal__icon-box {
    width: 7rem;
    height: 7rem;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    transition: all .3s; }
  .meal__icon {
    color: var(--primary-color);
    font-size: 2.4rem;
    transition: all .3s; }
  .meal__icon-box:hover {
    background-color: var(--primary-color); }
  .meal__icon-box:hover .meal__icon {
    color: #fff; }
  .meal__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .meal__title {
    font-size: 2.4rem;
    font-weight: 600;
    display: block;
    color: var(--heading-color); }
  .meal > p {
    grid-column: 1 / span 2; }

.cta__btn {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-bottom: 3rem; }

.stat {
  background-color: var(--bg-color);
  box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.05);
  padding: 4rem 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .stat__icon-box {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 6.8rem;
    height: 6.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .stat__icon {
    font-size: 2.6rem;
    color: #fff; }
  .stat__num {
    font-size: 4.2rem;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 1.6rem;
    line-height: 1.6; }
  .stat__title {
    text-transform: capitalize;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.8rem; }
  .stat:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px; }

.video__icon-box {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  border-radius: 50%;
  transition: all 0.3s linear;
  background-color: #fff;
  border: transparent;
  color: var(--primary-color);
  animation-name: ripple;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .video__icon-box:hover {
    transform: scale(1.2);
    transition: all 0.3s linear;
    background-color: var(--primary-color);
    border: transparent;
    color: #fff; }

.video__icon {
  font-size: 2.6rem;
  transition: all 0.3s linear; }

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25), 0 0 0 10px rgba(255, 255, 255, 0.25), 0 0 0 20px rgba(255, 255, 255, 0.25); }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.25), 0 0 0 20px rgba(255, 255, 255, 0.25), 0 0 0 40px rgba(50, 100, 245, 0); } }

.post__img {
  min-height: 210px;
  background-color: aqua;
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end; }
  .post__img--1, .post__img--3 {
    background-image: url("../img/banner1.jpg"); }
  .post__img--2 {
    background-image: url("../img/banner2.jpg"); }

.post__tag {
  padding-left: 1rem;
  padding-bottom: 1rem; }

.post__tag-cate {
  background-color: var(--primary-color);
  color: #fff;
  display: inline-block;
  padding: 0.3rem 2rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.2rem; }

.post__tag-time {
  color: #fff;
  margin-left: 1rem;
  font-size: 1.6rem; }

.post__tag-icon {
  margin-right: 3px; }

.post__title {
  display: block;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem; }

.post__footer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--heading-color); }

.post__footer-img {
  width: 4rem;
  height: 4rem;
  display: block;
  border-radius: 50%; }

.post__footer-user {
  margin-right: auto; }

.post__footer-read {
  opacity: .9;
  cursor: pointer;
  transition: all .3s; }
  .post__footer-read:hover {
    color: var(--primary-color); }

.testi__content {
  text-align: center;
  width: 60%;
  margin: 0 auto 4.8rem auto; }

.testi__img {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%; }

.testi__title {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--heading-color);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px; }
  .testi__title::before {
    font-size: 5rem;
    line-height: 0.5;
    content: '"';
    color: var(--primary-color);
    display: block; }

.testi__user {
  font-weight: 600;
  font-size: 2rem;
  color: var(--heading-color); }

.swiper {
  position: relative;
  overflow-x: hidden; }

.footer {
  color: var(--footer-color); }
  @media (max-width: 50em) {
    .footer__diner {
      grid-column: 1 / span 2; } }
  .footer__paragraph {
    color: var(--footer-color); }
  .footer__social {
    display: flex;
    gap: 1.6rem; }
  .footer__social-logo {
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: var(--border-radius);
    transition: all .3s;
    font-size: 1.6rem;
    color: var(--primary-color); }
    .footer__social-logo:hover {
      color: #fff;
      background-color: var(--primary-color); }
  .footer__heading {
    font-size: 2.2rem;
    line-height: 1.3;
    margin-bottom: 3rem;
    font-weight: 700;
    color: #fff; }
  .footer__links {
    display: flex;
    flex-direction: column; }
    @media (max-width: 50em) {
      .footer__links--cta {
        grid-column: 1 / span 2; } }
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; }
  .footer__item {
    font-size: 1.6rem;
    line-height: 1.6;
    transition: all .2s; }
    .footer__item:hover {
      color: var(--primary-color); }
  .footer__input {
    flex: 1;
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    line-height: 1.6;
    border: 1px solid transparent;
    outline: none;
    color: var(--font-color);
    background: var(--bg-color);
    border-radius: var(--border-radius);
    margin-top: 3.2rem;
    font-family: inherit; }
  .footer .btn {
    flex: 1;
    text-align: center; }
  .footer__copy {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem; }
  .footer__copy-text {
    color: #ddd; }
    .footer__copy-text span {
      color: var(--primary-color);
      transition: all .2s; }
      .footer__copy-text span:hover {
        color: currentColor; }
  .footer__copy-list {
    display: flex;
    gap: 3.2rem; }
  .footer__copy-item {
    transition: all .2s; }
    .footer__copy-item:hover {
      color: var(--primary-color); }
